.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nav h1 {
  border: 2px solid black;
}
table {
  width: 100%;
  background-color: darkgray;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  padding: 12px;
}
td {
  text-align: center;
}
